.container{
	margin 0;
	height: 100vh;
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
}
::selection {
	background: #23B5EF;
}
header{
	width: 100vw;
	position: fixed;
	background-color: #212529;
	z-index: 50;
	opacity: 1 !important;
	top: 0;
	display: flex;
	flex-direction: row;
}
#page-top{
	background-image: url("iitr.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	}
.profile .name{
	color: white;
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 0.35em;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.4);
}
.profile .about{
	color: white;
	font-size: 26px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.4;
	padding-left: 10vw;
	padding-right: 10vw;
	height: auto;

}
.profile{
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.centered{
		display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.profile img{
	position: relative;
	z-index: 3;
	height: 13.24vw;
	width: 13.24vw;
	border-radius: 6.62vw;
	border: 4px #53b1d1 solid;
	margin-top: 12vh;

}
blockquote{
	color: black;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;;
	letter-spacing: 0.28em;
	margin-top: 2vh;
	font-style: italic;

}
.logo{
	position: relative;
	top: 0.52vh;
	width: 4.1vw;
	height: 7.63vh;
	left: 10%;
}
nav{
	position: relative;
	top: 5.075vh;
	left: 0vw;
}
 nav li{
	display: inline;
	padding-left: 2vw;
	word-spacing: 0.3em;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
nav a{
	color : white;
	font-style: normal;
	text-decoration: none;
}
nav a:hover{
	color: #23B5EF;
}
nav ul{
	position: relative;
	top: -2vh;
}
.info div{
	display: inline-block;
	top: 150px;
}
.type{
	box-sizing: border-box;
	background-color:  #212529 ;
	width: 40%;
	padding-right: 1vw;
	text-align: right;
	margin-bottom: 3vh;
	border-right: 1px #35383c solid;
	color: white;
	border-radius:0 0 15px 0;
}

.value{
	text-align: left;
	color: #35383;
	display: inline-block;
}
.heads{
	margin-bottom: 6vh;
	font-size: 32px;
	letter-spacing: 0.35em;
	font-family: 'Open Sans', sans-serif;
}
.info{
	position: relative;
	padding-top: 120px;
}
.bg{
	background: #2b3035;
	width: 30%;


}
.data{
	font-family: 'Lato', sans-serif;
	letter-spacing: .3em;
	font-size: 24px;

}
.intrest, .timeline, .blog, .social-link{
	text-align: center;
	font-size: 34px;
	color: black;
	letter-spacing: 0.35em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;	
	padding-top: 10vh;
}
.intrest{
	padding-top: 7vh;
}
.flex{
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.timeline{
	color: white;
}
.data{
	margin-left: 9px;
}
#intrest{
	position: relative;
	z-index: 1;
	width: 100%;
	background-color: #F37600;
    background-size: cover;

}
.hobbya{
	background-image: url("Coding.jpg");

}
.hobbya, .hobbyb, .hobbyc,.hobbyd{
	border: #d66802 solid 6px;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-size: 250px 250px;
	width: 250px;
	height: 250px;
	z-index: 2;
	border-radius: 125px;
	display: inline-block;
	margin: 10vh 10vw;
}
.hobbyc{
	background-image: url("punjab.jpg");

}
.hobbyb{
	background-image: url("explore.jpg");0
}

.hobbyd{
	background-image: url("bakar.jpg");

}
.hobby-desc{
	visibility: visible;
	background-color: rgba(83,177,209,0.9);
	position: relative;
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-align: center;
	top: 125px;
	font-family: 'open sans', sans-serif;

}
#timeline{	
	position: relative;
	background-color: #212529;
	background-repeat: no-repeat;
	background-size: 100% 1050px;
	margin: 0;
	width: 100%;
	text-align: center;

}
.time{
	position: relative;
	background-repeat: no-repeat;
	background-size: 250px 250px;
	width: 250px;
	height: 250px;
	z-index: 2;
	overflow: hidden;
	border-radius: 125px;
	margin: 0 auto;
}
.time-desc{
	visibility: visible;
	position: relative;
	font-size: 25px;
	color: black;
	background-color:  rgba(255,255,255,0.5);  

	text-align: center;
	top: 125px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.z{
	background-color: #23b5ef;
	border: #fff0 3px solid;

}
.y{
	background-image: url("img.jpg");
	border: #fff 3px solid;
}
.w{
	background-image: url("iitrlogo.jpg");
	border: #fff 3px solid;
}
.u{
	background-image: url("12th.jpg");
	border: #fff 3px solid;
}
.t{
	background-image: url("aakash.jpg");
	border: #fff 3px solid;
}
.r{
	background-image: url("avi.jpg");
	border: #fff 3px solid;
}
.p{
	margin-top: 100px;
	background-image: url("birth.jpg");
	border: #fff 3px solid;	}
	.vl {
		position: relative;
		border-right: 6px dotted #fff;
		height: 200px;
		width: 0;
		margin: 0 auto;
	}
	#blogs{
		margin-bottom: 7vh;
	}

	#blog{	
		position: relative;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: -10px -20px 0 0;
		z-index: 1;
		width: 100%;
		top: 150px;
		text-align: center;

	}
	.form{
		color: #212529;
		font-size: 18px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		position: relative;
		text-align: left;
	}
	.formi{
		color: #212529;
		font-size: 24px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		height: 36px;
		width: 100%;
		margin: 0;
	}
	.formc{
		color: #212529;
		font-size: 18px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		height: 35vh;
		width: 100%;
		margin: 0;
	}
	.form-div{
		width: 30%;
		position:relative;
		margin: 0 auto;
	}

	.formi:focus, .formc:focus{
		border: 2px solid #227b9e;
	}
	.linkb{
		text-align: center;
		font-size: 28px;
		color: #424549;
		letter-spacing: 0.30em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
	}
	.linkb a{
		color: #227b9e;
	}
	#social-link{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		background-color: #212529;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 1;
		width: 100%;
		top: 250px;
	}
	.social-link{

		color: white;
	}
		.socialsitediv{
		display: inline;
		margin-bottom: 7vh;
	}
	.socialsite{
		height: 150px;
		width: 150px;
		border-radius: 75px;
		margin: 0vh 7vw 5vh 7vw;
	}
	#copy{
		position: relative;
		background-repeat: no-repeat;
		background-size: 100% 200px;
		z-index: 1;
		width: 100%;
		top: 210px;
		padding-bottom: 40px;
	}
	.copy{
		text-align: center;
		font-size: 24px;
		font-family: 'Open Sans', sans-serif;
		padding-top: 5vh;
	}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 4px 3px 2px #666666;
  -webkit-box-shadow: 7px 6px 6px #666666;
  -moz-box-shadow: 7px 6px 6px #666666;
  box-shadow: 7px 6px 6px #666666;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
	.submit{
		color: white;
		font-size: 24px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;

		width: 15%;
		margin: 0 0;
		background-color: #23b5ef;
	}
	.submit:hover{
		background-color: #227b9e;
	}
	.flexs{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
